.create-news {
    color:rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.create-box-infos {
    width:700px;
    background: white;
    padding:0.5rem 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    z-index: 111;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.create-box-infos p {
    margin:0.8rem 0rem;
    color: black;
}
.create-box-infos a {
    text-decoration: none;
    color:#4096ff;
}
.create-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:3rem 2.5rem;
    width:400px;
    background: #303030;
    margin-left: -1.5rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn {
    display: flex;
    justify-content: center;
}
.btn button {
    color: white;
    border: 0;
    border-bottom:2px solid #4096ff;
    padding:0.5rem;
    background:#303030;
    font-weight: 600;
    transition: .3s;
    font-size: 1rem;
}
.btn button:hover {
    background:transparent;
    transition: .3s;
    cursor: pointer;
    transform: scale(1.1);
}
.boxes {
    position: relative;
}
.boxes input {
    border:1px solid rgb(63, 63, 63);
    background: #F7F7F7;
    padding:0.2rem;
    border-radius: 10px;
    height:35px;
    width:250px;
    color:black;
}
.ant-picker {
    height:35px;
    width:250px;
    border-radius: 10px;
    color: black;
}
.boxes label {
    position: absolute;
    top:4px;
    left:5px;
    transition: .3s;
    pointer-events: none;
}
.boxes textarea {
    resize: none;
    color:black;
    border-radius: 12px;
    background: #F7F7F7;
    width: 300px;
    height: 200px;
    font-size:1rem;
    padding:0.5rem;
    transition: .3s;
}
.boxes textarea:focus {
    outline: none;
    border-color: #4096ff;
    border-inline-end-width: 1px;
    height: 300px;
    transition: .3s;
}
.boxes input:focus {
    outline: none;
    border-color: #4096ff;
    border-inline-end-width: 1px
}
.boxes input:invalid:focus ~ label {
    top:4px;
    left:5px;
}
.boxes textarea:invalid:focus ~ label {
    top:4px;
    left:5px;
}
.boxes input:focus ~ label, .boxes input:valid ~ label {
    transform: translateY(-30px);
    transition: .3s;
    color: #F7F7F7;
}
.boxes textarea:focus ~ label, .boxes textarea:valid ~ label {
    transform: translateY(-30px);
    transition: .3s;
    color: #F7F7F7;
}
.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-container a {
    text-decoration: none;
    color:black;
}
.news-container h1 {
    font-size:2rem;
    margin:2rem 0rem;
}
.news-main-header {
    display: flex;
    align-items: center;
    gap:2rem;
    margin-bottom:1rem;
    width:400px;
}
.news-main-header h2 {
    margin:0;
}
.news-main-content {
    width: 500px;
    padding: 1rem;
}
.news-main-content p {
    color:black;
}
.news-main-container {
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
    width:900px;
    margin-bottom:5rem;
    background: linear-gradient(to left, rgba(180, 180, 180, 0.2),  rgb(0 0 0/0));
    border-radius: 12px;
}
.news-main-content p {
    margin: 0;
}
.news-main-image img{
    width:400px;
    border-radius: 12px;
    margin:0.5rem 0.5rem 0rem 0rem;
}
.delete-news {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    height: 20px;
    color: rgb(214, 83, 83);
    margin-top:1rem;
}
.delete-news span:nth-child(1) {
    margin-top:0.3rem;
}
.delete-news:hover {
    cursor: pointer;
}
@media(max-width:1325px) {
    .create-news {
        flex-direction: column;
        gap:2rem;
    }
    .create-box-infos h1 {
        font-size: 1.8rem;
    }
    .create-box-infos {
        width: 450px;
    }
    .create-box-infos h1 {
        font-size: 1.2rem;
    }
}
@media(max-width:1000px) {
    .news-container {
        width: 80%;
        margin: 0 auto;
    }
    .news-main-container {
        flex-direction: column;
        width: auto;
        background: linear-gradient(to top, rgba(180, 180, 180, 0.2),  rgb(0 0 0/0));
    }
    .create-box-infos {
        width: 450px;
    }
    .news-main-content {
        width: auto;
    }
}
@media(max-width:667px) {
    .create-box-infos {
        width:300px;
    }
    .create-box {
        width:300px;
    }
    .create-box input, .ant-picker {
        width:180px;
    }
    .create-box textarea {
        width:200px;
    }
    .news-container img {
        width:400px;
    }
    .news-main-content {
        justify-content: center;
        font-size: 15px;
    }
}
@media(max-height:841px) {
    .create-news {
        margin:3rem 0rem;
        height: 100%;
    }
    .create-box-infos h1 {
        font-size:1.2rem;
    }
}
@media(max-width:713px) {
    .create-news-container{
        padding-top:5rem;
    }
    .news-container img {
        width:300px;
    }
    .news-main-content  {
       width: 340px;
    }
}